* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
/*start header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
.container_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.container_header nav {
  display: flex;
  align-items: center;
}
.container_header ul {
  display: flex;
  margin-right: 30px;
}
.container_header a {
  text-decoration: none;
}
.container_header li {
  list-style: none;
  padding: 40px 15px;
}
.container_header img {
  padding: 40px 15px;
}
.container_header li a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
}
.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn-gradient:hover {
  background-position: right center;
}
.container_header i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
.container_header a span {
  display: inline-block;
  transition: all 0.5s;
}
.container_header a:hover {
  color: #f55f8d;
}
.container_header a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*end header*/

/*start sacarousel*/
.saCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(./Samar/pic2.png);
  background-position: top;
  background-size: 100%;
}
.saCarousel__content {
  display: flex;
}
.saCarousel__left {
  width: 60%;
}
.saCarousel__right {
  width: 40%;
}
.title {
  margin-top: 60px;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.saCarousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
}
.saCarousel__content li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  list-style: none;
  color: #636363;
}
.saCarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.saCarousel__left button {
  margin-top: 30px;
}
.saCarousel__banner {
  width: 570px;
  margin-left: 50px;
}
.saCarousel__right img {
  max-width: 100%;
  display: block;
}
/*end sacarousel*/

/*start service*/
.service {
  background-image: url(./Samar/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 60px 0;
  padding-top: 80px;
}
.container_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.container_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  width: 100%;
}
.services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 40px 64px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item img {
  width: 100%;
}
.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.services__item p {
  color: #6c6865;
}
/*end service*/

/*start about us*/
.aboutUs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}
.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
  padding-top: 140px;
}
.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutUs__right {
  width: 50%;
}
.aboutUs__right li {
  list-style: none;

  padding-bottom: 15px;
}
.aboutUs_p {
  color: #697076;
}
.aboutUs__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.aboutUs__right ul {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #697076;
}
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}
/*end about us*/

/*start number*/
.number {
  background-image: url(./Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item {
  width: 25%;
}
.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number__item p {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__item .number_p {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}
/*end number*/
/*start feature*/
.features {
  background-image: url(./Samar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
  padding-top: 115px;
}
.features__content {
  display: flex;
  justify-content: center;
}

.feature__left_p {
  margin-top: -50px;
}
.features__left {
  width: 50%;
}
.features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}
.features__banner {
  margin-right: -80px;
}
.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
}
.features__item {
  padding: 0 50px 30px 0;
}
.features__item div {
  padding-left: 25px;
  z-index: 1;
}
.features__bg h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
}
.feature__bg2 {
  padding: 0 0 30px 50px;
}
.features__bg::before {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.features__bg:hover::before {
  opacity: 1;
}
.features__bg:hover div {
  color: white;
}
.features__bg:hover h3 {
  color: white;
}
.features__bg:hover i {
  color: white;
}

.features__right {
  width: 50%;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/*end feature*/

/*start portfolio*/
.portfolio {
  background-image: url(./Samar/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio__item1 {
  grid-column: 1 / span 2;
}
.portfolio__item5 {
  grid-column: 1 / span 2;
}
.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__icon a {
  cursor: pointer;
}
.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio__text p {
  color: #fff;
  opacity: 0.7;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
  left: 125%;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}
/*end portfolio*/

/*start plan*/
.plan {
  text-align: center;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan__item img {
  width: 125px;
}
.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__item ul {
  text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
list-style: none;
  }
.plan__item li {
  padding: 5px 0;
  font-size: 17px;
}
.plan__item i {
  font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan__item:hover {
  border-image: url(./Samar/br.png) 1 round;
}
/*end plan*/


/*start testimonial*/
.testimonial {
  padding-top: 100px;
  text-align: center;
  background-image: url(./image/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.title__text p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title__text h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.testimonial__content {
  max-width: 80%;
  margin: 0 auto;
  min-height: 300px;
}
.testimonial__content {
  min-height: 300px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}

.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./image/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.flaticon-quotation:before {
  content: "\f121";
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
/*end testimonial*/

/*start blog*/
.blog {
  background-image: url(./Samar/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 60px;
}
.blog .title {
  margin-top: 115px;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0,0,0);
}
.blog__item {
  text-align: left;
  background: rgba(245,95,141,.1);
  border-radius: 8px;
}
.blog__header {
  position: relative;
}
.blog__header img {
  width: 100%;
  border-radius: 8px;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.blog__header p {
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,.05);
}
.blog__footer p {
  margin-right: 20px;
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog_footer_span {
  color: #f55f8d;
}
.blog__body p {
  color: #697076;
}
.carousel .owl-nav {
  display: none;
} 
.owl-nav span {
  color: white;
}
/*end blog*/

/*start footer*/
footer {
  background-image: url(./Samar/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__text {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form, .footer__text {
  width: 50%;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__item {
  width: 25%;
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all .5s;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all .5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__item a:hover {
  color: #fff;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__item li {
  padding: 0.5rem 0;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer__item li {
    list-style: none;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  color: #fff;
}
.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255,255,255,.1);
  transition: all .5s;
}
/*end footer*/

/*backtotop*/
.backToTop {
  width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}